body {
    background-color: black;
    color:rgb(165, 144, 144);
    max-width: 600px;
    margin: auto;
    font-family: monospace;
}
h1{ border:1px solid rgb(165, 144, 144);
    border-width: 2rem;
    text-align:center;
    padding:5px;
    font-size:25px;
}
h2{ 
    margin-bottom: 4rem;
    text-align:center;
    padding:5px;
    font-size:30px;
}
p{
font-family: Lucida Sans;
    line-height: 1.8;
}

article + article {
    margin-top: 3rem;
    padding-top: 3rem;
    border-top: 1px solid rgb(165, 144, 144);

}
a{
    text-decoration: none;
    color:rgb(165, 144, 144);
}

