body{
	background:#eee;
}
#frm{
	border:solidgrey 1px;
	width:20%;
	border-radius:5px;
	margin:100px auto;
	background:white;
	pading:70px
}

#btn{
	color:#fff;
	padding:5px;
	margin-left:69%
	background:#337ab7
}
	